<ng-container *ngIf="!isLoading && employee; else loading">
  <mat-card class="employee-card">
    <mat-card-header class="employee-header">
      <div class="name">
        <mat-card-title>{{ employee.first_name }} {{ employee.last_name }}</mat-card-title>
      </div>
      <div class="details">
        <mat-card-subtitle>{{ employee.designation }} - {{ employee.department }}</mat-card-subtitle>
      </div>
    </mat-card-header>

    <img [src]="employee.employee_photo" alt="Employee Photo" width="200" />

    <mat-card-content>
      <p><strong>Email:</strong> {{ employee.email }}</p>
      <p><strong>Salary:</strong> ${{ employee.salary }}</p>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #loading>
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
